*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1.4;
}

ul,
ol {
  list-style: none;
}

body,
button,
input,
select,
textarea {
  font-family: inherit;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

button,
input,
select,
textarea {
  background: none;
  border: none;
  outline: none;
  appearance: none;
}

button:hover,
button:focus,
input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
  outline: 2px solid #005fcc;
}

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}
